<form action="/records/{{ record._id }}/edit" method="POST">
  <input type="text" placeholder="name" name="name" value="{{ record.name }}">
  <input type="text" placeholder="date" name="date" value="{{ record.date }}">
  <input type="text" placeholder="amount" name="amount" value="{{ record.amount }}">
  <div class="form-group">
    <label for="cars">支出類別: </label>
    <select id="new-category" class="form-control" name="category">
      <option>{{record.category}}</option>
      <option>餐飲食品</option>
      <option>交通出行</option>
      <option>休閒娛樂</option>
      <option>家居物業</option>
      <option>其他</option>
    </select>
  </div>
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>