<a href="./records/new">Create</a>
<div class="d-flex justify-content-center align-items-center">
  <h5 class="mr-3">總金額:</h5>
  <h1>{{totalAmount}}</h1>
</div>
<ul>
  {{#each records}}
  <li>
    {{{this.icon}}}
    {{this.name}}
    {{this.date}}
    {{this.amount}}
    <a href="./records/{{ this._id }}/edit">edit</a>
    <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>